<%= link_to "Sign in with Github", "/auth/github", class: "btn btn-block btn-social btn-github" %>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>
