  <div id="reports">
    <h1>Builds</h1>

    <div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
      </tr>
      </thead>
      <tbody>
      <% @builds.each do |build| %>
          <tr>
            <td><%= build.title || "No title" %></td>
            <td><%= link_to 'Install', build.itunes_url, class: "btn btn-primary" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
