<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New build available!</h1>

<h4><%= link_to "Install", @build.itunes_url %></h4>

<p>Thanks for using Shake Report and have a great day!</p>
</body>
</html>