/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= bootstrap.min.css
 *= require_tree .
 *= require_self
 */

div#content {
    margin-top: 50px;

}
.navbar-inverse {
    background-color: #2167A3;
    border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
    color: #E2E0E0;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #2960A7;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #E2E0E0;
}
