// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports {
  h1 {
    text-align: left;
    font-size: 20px;
    color: #707070;
  }

  .reports-nav {
    margin-bottom: 15px;

    li {
      padding-right: 5px;
    }
  }
}

.status_box {
	p {
		margin: 0;
		text-align: center;
		font-size: 11px;
		color: rgb(153, 153, 153);
	}
}

.report_header {
	padding: 0px 15px; 
	padding-top: 15px;
	
	h3 {
		display: inline;
		margin-left: 5px;
	}
	
	p.fix_version {
		display: inline;
		font-size: 12px;
		margin-left: 10px;
	}
}

.tab-pane {
  padding-top: 20px;  
}

#dumped-view pre {
    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
	min-height: 500px;
}

.log_line {
	background-color: rgb(255, 248, 210);
	margin: 1px 0px;
	&.odd {
		background-color:rgb(230, 230, 230);
	}
	&:hover {
		background-color: rgb(73, 73, 73);
		color: white;
	}
}

.message {
	margin-top: 30px;
}

.system_info {
	margin-top: 30px;
}


img {
  &.screenshot {
    max-width: 500px;
  }
}

#comments {
  .comment {
    margin: 10px;
    
    p.author {
//      font-style: italic;
      font-size: 12px;
    }
    
    p.content {
      font-size: 15px;
    }
    
    a.reply {
      font-size: 12px;
    }
  }
}

