<h1>Listing reports</h1>

<table>
  <tr>
    <th>Created At</th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.created_at %></td>
    <td><%= link_to 'Show', report %></td>
  </tr>
<% end %>
</table>

<br />
